body {
    background-color: #141414;
    color: #aea897;
}

#countlabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button {
    margin-left: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
}

.button:hover {
    cursor: pointer;
    transform: translateY(-2px);

}

#decreaseBtn:hover {
    background-image: linear-gradient(270deg, rgb(15, 2, 81), blue);
    font-weight: bold;
    color: #fff;
    box-shadow: 2px 2px 20px blue;
}

#resetBtn:hover {
    background-image: linear-gradient(270deg, rgb(122, 255, 6), rgb(19, 211, 195));
    font-weight: bold;
    color: black;
    box-shadow: 2px 2px 20px rgb(19, 211, 195);
}

#increaseBtn:hover {
    background-image: linear-gradient(270deg, rgb(209, 48, 48), rgb(207, 68, 128));
    font-weight: bold;
    color: beige;
    box-shadow: 2px 2px 20px rgb(207, 68, 128);
}